Repository nuejs/nue, pull requests merged in 2024-09, with the labels that each got.

#337 fix: allow textarea resizing only vertically
  packages/examples/simple-blog/@library/forms.css
Labels: examples

#338 chore: exclude examples and docs from triggering test run
  .github/workflows/test.yaml
Labels: tests

#341 test: more readable matrix
  .github/workflows/test.yaml
Labels: tests

#340 docs: fix img link extension
  packages/nuejs.org/blog/tailwind-vs-semantic-css/index.md
Labels: docs

#367 minor textual change
  packages/nuejs.org/blog/lib/blog-index.css
  packages/nuejs.org/docs/content.md
  packages/nuejs.org/docs/tutorial.md
Labels: docs

#372 fix: block ext spacing
  packages/nuemark/src/parse.js
  packages/nuemark/test/nuemark.test.js
Labels: nuemark
